<div id="aboutme" class="animateBorder">
 
  <div id="aboutcontent">
    <section id="aboutsection">
      <span id="wellhello">Who is Katie?</span>

      <span id="iam">
      I am a fullstack web developer (occasional iOS dev), who loves trying new tech! I am also a 
      lover of flex-box, video games (huge Final Fantasy fan), animals and much more. 
      <br><br>Winter of 2017, I left my 6y career in HR to pursue development. I completed the Web Development Immersive program at General Assembly, but my journey to web development actually started when I was 12... but that is a story for another time. 
      Though I did not enter this industry through the conventional route, I am very confident in my front-end skills, and for my ability to learn and ask relevant questions. 
      <br><br>What is the dream? To be a part of a talented team who shares a common goal, and meet people I can continue to learn from.
      </span>

      <span>
        <b>Skills:</b> HTML, CSS, JS, JQuery, AJAX, Java, Angular, Nodejs, SQL, MongoDB, SpringBoot, Swift
      </span>
    </section>
  </div>
  <div id="aboutbgimg">
    <div> <span id="thetitle">About Me</span></div>
    <div id="underline"></div>
  </div>
</div>