<div id="contactsection">
<span id="contacttitle"> Contact </span>
<section id="icons">
    <a href="https://www.linkedin.com/in/katie-so/" target="_blank"><i id="fontawe" class="fab fa-linkedin fa-2x"></i></a>
    <a href="https://github.com/ktso11" target="_blank"><i id="fontawe" class="fab fa-github fa-2x"></i></a>
    <a href="mailto:sokatie11@gmail.com"><i id="fontawe" class="fas fa-envelope fa-2x"></i></a>
    <!-- <i id="fontawe" class="fab fa-instagram fa-2x"></i> -->
</section>




</div>