<div id="splitcolm" class="animateBorder"> 
  <div id="welcomebg">
    <span class="links" id="journey"><b>The Journey</b></span>
    <span class="links"><a href="#portfimgbg">Portfolio</a></span>
    <span class="links"><a href="#aboutme">About</a></span>
    <span class="links"><a href="#contactsection">Contact</a></span>
  </div>
  <div id="welcomecontent">
    <section id="welcomeSection">
      <span id="thejourney">This is my journey...</span>
      <span>to writing beautiful code.</span>
      <span>Each project in this collection is a stepping stone to my goal.  </span>
    </section>
  </div>
</div>