<div id="splitcolm" class="animateBorder"> 
  <div id="welcomebg">
    <span class="links" id="journey"><b>The Journey</b></span>
    <span class="links"><a href="#portfimgbg">Portfolio</a></span>
    <span class="links"><a href="#aboutme">About</a></span>
    <span class="links"><a href="#contactsection">Contact</a></span>
  </div>
  <div id="welcomecontent">
    <section id="welcomeSection">
      <span id="thejourney">The Journey...</span>
      <span>to simple. clean. beautiful. functional.</span>
      <span>A continous learner who want to build and grow. This is small glasp of my journey to becoming a great developer.  </span>
    </section>
  </div>
</div>