<div id="portfimgbg" class="animateBorder">

  <div id="webappflex">

    <div id="webappleft">
        <span id="projecttitle">Projects</span>
        
      <div id="webapp">

        <!-- <section>
          <span id="apptitle" href="#findining"><a href="https://github.com/ktso11/project1-findining" target="_blank">Findining</a></span>
          <span id="appdes">html, css, js, jquery, coffeescript, ruby, ror</span>
        </section> -->

        <section>
          <span id="apptitle"><a href="https://github.com/ktso11/take_me_there" target="_blank">Take Me There</a></span> 
          <span id="appdes">HTML, CSS, JS, JQuery, Node.js, mongoDB, Express, GoogleMap</span>
        </section>

        <section>
          <span id="apptitle"><a href="https://github.com/ktso11/ArtsyBiz" target="_blank">ArtsyBiz</a></span>
          <span id="appdes">HTML, CSS, JS, JQuery, Node.js, mongoDB, Express</span>
        </section>
    
        <!-- <section>
          <span id="apptitle"><a href="https://github.com/ktso11/project-wayfarer-back" target="_blank">Wayfarer</a></span>
          <span id="appdes">html, css, js, jquery, react, nodejs</span>
        </section> -->

        <section>
          <span id="apptitle"> <a href="https://github.com/ktso11/NYCrecords_userCRUD" target="_blank">NYC User System</a></span>
          <span id="appdes">HTML, CSS, JS, Angular, SpringBoot, Java, Docker, Jasmine/Karma, Selenium, AWS </span>
        </section>

        <section>
          <span id="apptitle"><a href="https://github.com/ktso11/misdeed_ios" target="_blank">Misdeed</a></span>
          <span id="appdes">(mobile/ios) Swift, XCode</span>
        </section>

      </div>

      <div id="minicontainer">
          <div id="minip">Mini Projects</div>
          <div id="miniapp">
              <span id="miniApptitle"><a href="https://github.com/ktso11/Racing-Game" target="_blank">Pokemon Race (web)</a></span>
              <span id="miniApptitle"><a href="https://github.com/ktso11/RockPaperScissors" target="_blank">Rock Paper Scissors (cmd-ln/java)</a></span>
              <span id="miniApptitle"><a href="https://github.com/ktso11/ZombiePlants-Shopping-Cart" target="_blank"> Z-Plants Shopping Cart (web)</a></span>
              <span id="miniApptitle"><a href="https://github.com/ktso11/Magic8Ball_swift" target="_blank"> Magic 8-Ball (ios)</a></span> 
              <span id="miniApptitle"><a href="https://github.com/ktso11/TipCalculator_swift" target="_blank"> Tip Calculator (ios)</a></span> 
          </div>
        </div>  

    </div>

    <div id="webappright">
      <span id="thetitle">Portfolio</span>
    </div>

  </div>
</div>